 .author {
     color: #00529b;
 }
 /*
.h4 {
    color: #00529b;
} */
 
 .gd-container {
     max-width: 1100px;
     margin: auto;
     padding: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: #f9f9f9;
 }
 
 .gd-section {
     margin-bottom: 40px;
     background: #ffffff;
     border-radius: 10px;
     color: #00529b;
     padding: 25px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }
 
 h1 {
     font-size: 2rem;
     color: #00529b;
     margin-bottom: 15px;
 }
 
 .gd-section h2 {
     font-size: 2rem;
     color: #00529b;
     margin-bottom: 15px;
 }
 
 .gd-section h3 {
     font-size: 1.5rem;
     color: #00529b;
     margin-bottom: 15px;
 }
 
 .gd-section p {
     line-height: 1.7;
     color: #333;
 }
 
 .gd-section ul {
     padding-left: 20px;
     line-height: 1.6;
 }
 
 .gd-section li {
     margin-bottom: 8px;
 }
 
 @media (max-width: 768px) {
     .gd-title {
         font-size: 2rem;
     }
     .gd-section {
         padding: 15px;
     }
     .gd-section h3 {
         font-size: 1.3rem;
     }
 }