#header {
    height: auto;
    width: 100%;
    /* background-color: #c1001d; */
    /* background-color: #76164C; */
    background-color: #5d1b76;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.logo {
    height: 80px;
    width: 80px;
    /* object-fit: cover; */
    /*border-radius: 10px;
    */
    border-radius: 50%;
    border: 2px solid #dee2e6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* Hover effect */

.logo:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    /* font-family: 'Playfair Display', serif; */
    /* font-size: 19px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* color: #2c3e50; */
    color: white;
    line-height: 1.3;
    /* background-color: rgb(23, 87, 118); */
    /* background-color: #c1001d; */
    background-color: #5d1b76;
}


/* .subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: #495057;
} */


/* Style for the first letter of each word */


/* .first-letter {
    font-size: 120%;
    color: #2c3e50;
    font-weight: bold;
} */


/* Responsive adjustments */

@media (min-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
}