* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    /* font-size: 20px; */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
    /* letter-spacing: 0.5px; */
    border: 1px solid white;
}

.nav-link {
    /* margin-left: 4px; */
    margin-right: 3px;
    /* gap: 50px; */
    /* border: 1px solid white; */
}

.nav-link.active {
    /*text-decoration: underline;
  */
    color: #ffc107 !important;
    background-color: white;
    height: 40px;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#logout {
    background-color: red;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#navbar {
    /* background-color: rgb(166, 31, 38); */
    background-color: #E3E0E4;
    /* padding: -5px; */
}

#color {
    /* color: white; */
    color: black;
    font-size: 13px;
    /* border-right: 2px solid white; */
    /* border-left: 1px solid white; */
}

#color1 {
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    /* color: white; */
    color: #000;
    /* Bootstrap primary color, same as Nav.Link */
    cursor: pointer;
    margin-top: 8px;
    /* height: 150%;
    border-right: 2px solid white; */
}

#color1 option {
    color: #000;
    /* dropdown text color */
}